@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-light: #FFF3E5;
  --background-dark: #FFEDD8;
  --custom-red: #FF7D7D;
  --custom-orange: #FFC88A;
  --light-grey-text: #919191;
  --dark-grey-text: #383838;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-red: var(--custom-red);
  --color-custom-orange: var(--custom-orange);
  --color-light-grey-text: var(--light-grey-text);
  --color-dark-grey-text: var(--dark-grey-text);

  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --font-dm-sans: 'DM Sans';
  --font-italiana: 'Italiana', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
