@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-light: #FFF3E5;
  --background-dark: #FFEDD8;
  --custom-red: #FF7D7D;
  --custom-orange: #FFC88A;
  --light-grey-text: #919191;
  --card-light-grey: #9C9C9C;
  --dark-grey-text: #383838;
  --dark-grey-footer: #747474;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-red: var(--custom-red);
  --color-custom-orange: var(--custom-orange);
  --color-light-grey-text: var(--light-grey-text);
  --color-card-light-grey: var(--card-light-grey);
  --color-dark-grey-text: var(--dark-grey-text);
  --color-dark-grey-footer: var(--dark-grey-footer);

  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-italiana: 'Italiana', serif;
  --font-unna: 'Unna', serif;
  --font-oh-baby: 'Oooh Baby', cursive;

  --animate-new-pulse: pulse 1.5s cubic-bezier(0.42, 0, 0.58, 1) infinite

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.unna-italic {
  font-family: var(--font-unna);
  font-style: italic;
  font-weight: 400;
}

.unna-bold-italic {
  font-family: var(--font-unna);
  font-style: italic;
  font-weight: 700;
}


.gradient-text-custom {
  background: linear-gradient(90deg, var(--custom-red), var(--custom-orange));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated-underline {
  position: relative;
  display: inline-block;
}


.animated-underline::after {
  content: '';
  position: absolute;
  width: 98%;
  height: 5px;
  bottom: 0;
  left: 0;
  background: #ffa185;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

/* Change from .animated-underline:hover to parent hover */
.group:hover .animated-underline::after {
  transform: scaleX(1);
}
