@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-light: #FFF3E5;
  --background-dark: #FFEDD8;

  --dark-background-light: #3D3E44;

  --custom-red: #FF7D7D;
  --custom-light-red: #FFAEAE;
  --custom-orange: #FFC88A;

  --light-grey-text: #919191;
  --card-light-grey: #9C9C9C;
  --dark-grey-text: #383838;
  --dark-grey-footer: #747474;
  --header-light: #B3B3B3;
  --progress-background: #D9D9D9;

  --sage-green: #9EE9B4;

  color-scheme: light;

}

.dark:root {
  color-scheme: dark;
}


@theme {
  --color-custom-red: var(--custom-red);
  --color-custom-light-red: var(--custom-light-red);
  --color-custom-orange: var(--custom-orange);
  --color-light-grey-text: var(--light-grey-text);
  --color-dark-grey-text: var(--dark-grey-text);
  --color-dark-grey-footer: var(--dark-grey-footer);
  --color-header-light: var(--header-light);
  --color-sage-green: var(--sage-green);
  --color-progress-background: var(--progress-background);
  --color-stroke: #414249;
  --color-white-text: #EFEFEF;
  --color-chess-text-grey: #909090;

  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);

  --animate-new-pulse: pulse 1.5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}


/* globals.css */
@layer utilities {
  .font-italiana { font-family: var(--font-italiana), serif; }
  .font-dm-sans  { font-family: var(--font-dm-sans), sans-serif; }
}

/* set dark mode colors*/
@layer theme {
  :root, :host {
    @variant dark {
      --color-background-light: #3D3E44;
      --color-background-dark: #323339;
      --color-custom-orange: #FFDBB1;
      --color-dark-grey-text: #EFEFEF;
    }
  }
}

::selection {
  background-color: #7D7DFF;
  /* custom red */
  color: white;
  /* text color when selected */
}

body {
  background: var(--background);
  color: var(--foreground);
}

.unna-italic {
  font-family: var(--font-unna);
  font-style: italic;
  font-weight: 400;
}

.unna-bold-italic {
  font-family: var(--font-unna);
  font-style: italic;
  font-weight: 700;
}


.gradient-text-custom {
  background: linear-gradient(90deg, var(--custom-red), var(--custom-orange));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-red-orange {
  background: linear-gradient(90deg, var(--custom-orange), var(--custom-red));
}

.gradient-text-jackpot {
  background: linear-gradient(90deg, #DC74FF, #E59CFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* helps Firefox */
  -webkit-text-fill-color: transparent;
  /* WebKit */
}

.gradient-text-header {
  background: linear-gradient(90deg,
      var(--custom-red) 0%,
      var(--custom-red) 20%,
      /* solid red to 20% */
      var(--custom-light-red) 70%,
      /* blend ends by 45% */
      var(--custom-light-red) 100%
      /* solid light red after */
    );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated-underline {
  position: relative;
  display: inline-block;
}


.animated-underline::after {
  content: '';
  position: absolute;
  width: 98%;
  height: 5px;
  bottom: 0;
  left: 0;
  background: #ffa185;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

/* Change from .animated-underline:hover to parent hover */
.group:hover .animated-underline::after {
  transform: scaleX(1);
}

.custom-bold {
  font-weight: bold;
  color: var(--color-custom-red);
}

/* globals.css */
@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  .animate-fade-in-7 {
    animation: fade-in 0.7s ease-out both;
    /* both = keep final opacity:1 */
  }

  .animate-fade-in-1 {
    animation: fade-in 1s ease-out both;
    /* both = keep final opacity:1 */
  }
}